header {
  font-family: Papyrus, "Brush Script MT", sans-serif;
  color: rgb(0, 87, 189);
  margin-top: 30px;
  text-align: center;
}

body {
  background-color: rgb(230, 255, 255); 	
}

main {
  border: 3px double blue;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

footer {
  color: rgb(0, 87, 189);
  margin-top: 100px;
  text-align: center;
}

.p1 {
  font-family: Papyrus, "Brush Script MT", sans-serif;
  font-weight: bold;
}


.sublist {
  margin-left: 2px;
}