
body
{
	background-color: #ADD8E6;
}

.contact
{
	font-family: 'Carter one', cursive;
	text-align: right;
	color: #000048;
	margin-right: 10px;
	margin-top: 10px;
}


header
{
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-right: 280px;
	margin-left: 280px;
}


main
{
	background-color: #FFFFFF;
	border: 1px white solid;
	border-radius: 10px;
	margin-left: 280px;
	margin-right: 280px;
}


footer
{
	background-image: radial-gradient(#FFFFFF, #ADD8E6);
	border: 1px white solid;
	border-radius: 10px;
	margin-left: 280px;
	margin-right: 280px;
}


img
{
	margin-left: -130px;
	margin-top: -40px;
	border-style: inset;
	border-color: #ADD8E6;
	border-width: 5px;
	border-radius: 10px;
}
/*	margin-left: 140px; */


.examples 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}


@media only screen and (max-width: 1440px) {
.examples {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
 }
}


@media only screen and (max-width: 1024px) {
.examples {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
 }
}



.banner
{
	margin-top: -150px;
	background-color: #ADD8E6;
	background-image: radial-gradient(#FFFFFF, #ADD8E6);
	border: 1px white solid;
	border-radius: 10px;
}
/* 	margin-left: 280px;  */
/*	margin-right: 280px; */



.bannertext 
{
   	font-family: 'Carter one', cursive;
	text-align: center;
	color: #000048;
}


.bannertext_small
{
   	font-family: 'Carter One', cursive;
	font-style: italic;
	text-align: center;
	margin-top: -20px;
	color: #000048;
}


a
{
	text-decoration: none;
	color: #000048;
}



a:hover
{
	text-decoration: underline;
	background-image: radial-gradient(#FFFFFF, #ADD8E6);
	border-style: outset;
	border-color: #ADD8E6;
	border-radius: 5px;
	border-width: 2px;
	box-shadow: 5px 5px #000048;
	padding: 10px;
}



.toplinks
{
	font-family: 'Carter one', cursive;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 50px;
	color: #000048;
}


.description
{
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: 'Carter one', cursive;
	color: #000048;
}


@media only screen and (max-width: 1440px) {
.description {
   	margin-top: 100px;
	margin-left: 80px;
	margin-right: 80px;
	font-family: 'Carter one', cursive;
 }
}


@media only screen and (max-width: 1024px) {
.description {
   	margin-top: 100px;
	margin-left: 80px;
	margin-right: 80px;
	font-family: 'Carter one', cursive;
 }
}


.maintext
{
	margin-top: 100px;
	font-family: 'Carter one', cursive;
	margin-left: 10px;
	color: #000048;
}

#dynamiclinks p {
	font-family: 'Carter one', cursive;
	font-size: 1.2em;
	margin-left: 10px;
}

#links_to_profile_pages p {
	font-family: 'Carter one', cursive;
	font-size: 1.2em;
	text-align: center;
}

.validation_links
{
	font-family: 'Carter one', cursive;
	text-align: center;
	font-size: 20px;
	color: #000048;
}


.built_by
{
	text-align: center;
	font-family: 'Carter One', cursive;
	font-size:12px;
}


