header {
  font-family: 'Carter one', cursive;
  color: rgb(0, 87, 189);
  margin-top: 30px;
  text-align: center;
}

body {
  background-color: rgb(230, 255, 255); 	
}

main {
  border: 3px double blue;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  text-align: left;
}

footer {
  color: rgb(0, 87, 189);
  margin-top: 100px;
  text-align: center;
}

.p1 {
  font-family: 'Carter one', cursive;
  font-weight: bold;
}

#links_to_profile_pages {
  text-align: center; 
}
